<section>
    <div id="tasksListPage">
        <h2 class="page-title" data-bind="text: title"></h2>

        <div class="control-group">
            <ul data-bind="foreach: tasks, visible: tasks().length > 0">
                <li>
                    <label class="checkbox" style="display: inline-block">
                        <input type="checkbox" data-bind="checked: IsDone, click: $parent.invertIsDone"/>
                    </label>
                    <span data-bind="text: Name, disable: IsDone, style: { color: IsDone() ? 'red' : 'black' }"></span>
                    <button class="btn btn-link" href="#" data-bind="click: $parent.removeTask">Delete</button>
                </li>
            </ul>
        </div>
        <form data-bind="submit: addTask">
            <p>Add task:</p>
            <label>
                <input data-bind="value: newName" placeholder="What needs to be done?"/>
            </label>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>
</section>
